extends ../../../templates/Abase

block body
    div(style="background-image: url('../img/bg2.png'); background-size: 100% 100%;")
        // Creative Tim Branding
        // Big container
        .container
            .row(style='margin-top: -60px;')
                .col-sm-8.col-sm-offset-2
                    // Wizard container
                    .wizard-container
                        #wizardProfile.card.wizard-card(data-color='azure')
                            form#data(method='POST', action='/apply')
                                // You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"
                                .wizard-header.text-center
                                    a(href='/index')
                                        button.close(type="button" style="outline: none;")
                                            i.nc-icon.nc-simple-remove
                                    h3.card-title(style="margin-bottom: -5px;")
                                        | APPLICATION FORM
                                    |                   
                                    h5.description(style="font-size: 18px;") This information will let us know more about you.
                                    |   
                                .wizard-navigation
                                    .progress-with-circle
                                        .progress-bar(role='progressbar', aria-valuenow='1', aria-valuemin='1', aria-valuemax='3', style='width: 21%;')
                                    ul
                                        li()
                                            a(href='#personal', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-user
                                                | Personal Information
                                        li
                                            a(href='#education', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-pencil
                                                | Educational Background
                                        li
                                            a(href='#family', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-heart
                                                | Family Background
                                        li
                                            a(href='#summary', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-map
                                                | Review Summary
                                br
                                br
                                // Personal Information
                                .tab-content
                                    #personal.tab-pane
                                        .row
                                            .col-md-4
                                                .form-group
                                                    label(for="lastname") Last Name *     
                                                    input#lastname.form-control(name="lastname", type="text", placeholder="Enter last name", required="true")     
                                            |   
                                            .col-md-4
                                                .form-group
                                                    label(for="firstname") First Name *     
                                                    input#firstname.form-control(name="firstname", type="text", placeholder="Enter first name", required="true")
                                            |
                                            .col-md-4
                                                .form-group
                                                    label(for="middlename") Middle Name     
                                                    input#middlename.form-control(name="middlename", type="text", placeholder="Enter middle name")     
                                            |
                                        .row
                                            .col-md-5
                                                .form-group
                                                    label(for="dob") Date of Birth *
                                                    input#dob.form-control.datetimepicker(name="bday", type="date", required)     
                                            |   
                                            .col-md-7
                                                .form-group
                                                    label(for="pob") Place of Birth *     
                                                    input#pob.form-control(name="bplace", type="string", placeholder="Enter birth place", required)
                                        .row
                                            .col-md-2
                                                .form-group
                                                    label(for="hn") House No. *
                                                    input#hn.form-control(name="house", type="number", placeholder="Enter house number", number="true", required)     
                                            |
                                            .col-md-4
                                                .form-group
                                                    label(for="st") Street *
                                                    input#st.form-control(name="street", type="string", placeholder="Enter street name", required)     
                                            |
                                            .col-md-4
                                                .form-group
                                                    label(for="barangay") Barangay *     
                                                    select#barangay.form-control(name="barangay", type="string", required)
                                                        each bara in barangay
                                                            option(value=bara.intBarangayId) #{bara.strBarangayName}    
                                            |   
                                            .col-md-2
                                                .form-group
                                                    label(for="zip") Zip Code *     
                                                    input#zip.form-control(name='zipcode', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", type = "number", maxlength = "4", required)
                                        .row
                                            .col-md-2
                                                label Gender *
                                                .form-check-radio
                                                    label.form-check-label
                                                        input#RadioM.form-check-input(type="radio", name="gender", value="male")
                                                        |&nbsp; Male         
                                                        span.form-check-sign
                                                .form-check-radio(style="margin-top: -11px;")
                                                    label.form-check-label
                                                        input#RadioF.form-check-input(type="radio", name="gender", value="female")
                                                        |&nbsp; Female
                                                        span.form-check-sign    
                                            |
                                            .col-md-3
                                                .form-group
                                                    label(for="citizen") Citizenship *
                                                    input#citizen.form-control(name='citizenship', type="string", placeholder="Enter nationality")     
                                            |   
                                            .col-md-3
                                                .form-group
                                                    label(for="mobile") Mobile Number *     
                                                    input#mobile.form-control(name='mobnum', oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", type="number", maxLength="11", min="09000000000", max="09999999999" placeholder="xxxx-xxx-xxxx" required)
                                            .col-md-4
                                                .form-group
                                                    label(for="email") Email Address *
                                                    input#email.form-control(name='email', type="string", placeholder="Enter email address", email="true", required="true")     
                                        
                                    // End of Personal Information
                                    // Educational Background
                                    #education.tab-pane
                                        .row
                                            .col-md-12
                                                .form-group
                                                    label(for="rs") Name of School Last Attended *     
                                                    input#rs.form-control(name='lastschool', type="string", placeholder="Enter recent school", required)
                                        .row        
                                            .col-md-3
                                                    label School Sector
                                                    .form-check-radio
                                                        label.form-check-label
                                                            input#sradioB.form-check-input(type="radio", name="sector", value="public")
                                                            |&nbsp; Public         
                                                            span.form-check-sign
                                                    .form-check-radio(style="margin-top: -7px;")
                                                        label.form-check-label
                                                            input#sradioV.form-check-input(type="radio", name="sector", value="private")
                                                            |&nbsp; Private
                                                            span.form-check-sign
                                        
                                            .col-md-2
                                                .form-group
                                                    label(for="eng") English *     
                                                    input#eng.form-control(name='eng', placeholder="...", max="100", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", type = "number", maxlength = "3", required)
                                            .col-md-2
                                                .form-group
                                                    label(for="mth") Math *     
                                                    input#mth.form-control(name='mth', placeholder="...", max="100", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", type = "number", maxlength = "3", required)
                                            .col-md-2
                                                .form-group
                                                    label(for="sci") Science *     
                                                    input#sci.form-control(name='sci',  placeholder="...", max="100", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", type = "number", maxlength = "3", required)
                                            .col-md-3
                                                .form-group
                                                    label(for="ga") General Average *     
                                                    input#ga.form-control(name='GA',  placeholder="...", max="100", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);", type = "number", maxlength = "3", required)
                                        .row
                                            .col-md-12
                                                .form-group
                                                    label(for="school") School intended to enroll in or enrolled in *     
                                                    select#school.form-control(name="school")
                                                        each school in schools
                                                            option(value=school.intSchoolId) #{school.strSchoolName}
                                        .row
                                            .col-md-12
                                                .form-group
                                                    label(for="course") Degree Program *     
                                                    select#course.form-control(name="course")
                                                        each course in courses
                                                            option(value=course.intCourseId) #{course.strCourseName}
                                        
                                    |                      
                                    // End of Educational Background
                                    // Family Background
                                    #family.tab-pane
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label(for="guardian") Parent/Guardian's Name *     
                                                    input#guardian.form-control(name='parentname', type="text", placeholder="Enter parent/guardian's name", required)     
                                            |   
                                            .col-md-6
                                                .form-group
                                                    label(for="address") Permanent Mailing Address *     
                                                    input#address.form-control(name='parentaddress', type="string", placeholder="Enter parent/guardian's address", required)
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label(for="go") Occupation *     
                                                    input#go.form-control(name='parentoccupation', type="text", placeholder="Enter parent/guardian's occupation")
                                            .col-md-6
                                                .form-group
                                                    label(for="hea") Highest Educational Attainment *     
                                                    select#hea.form-control(name='parentEA', type='text')
                                                        option(value='High School') High School
                                                        option(value='College') College
                                                        option(value='Vocational') Vocational
                                        hr
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label(for="siblings") No. of Siblings *     
                                                    input#siblings.form-control(name="siblings" type="number", placeholder="Enter number of siblings")
                                            .col-md-6
                                                .form-group
                                                    label(for="income") Total Parent's Taxable Income *     
                                                    input#income.form-control(name='taxincome', type="number", placeholder="Enter total parent's income")
                                            
                                    // End of Family Background
                                    // Summary
                                    #summary.tab-pane
                                        .row.justify-content-center
                                            .col-md-12
                                                table.table.table-bordered
                                                    thead
                                                        th.text-center(colspan="4") Personal Information
                                                    tbody
                                                        tr          
                                                            th(colspan="2") Applicant's Name:
                                                            th Date of Birth:
                                                            th Place of Birth:
                                                        tr
                                                            td#1(colspan="2") 
                                                            td#2 
                                                            td#3 
                                                    
                                                        tr
                                                            th House Number:
                                                            th Street:
                                                            th Barangay:
                                                            th Zip Code:
                                                        tr
                                                            td#4
                                                            td#5 
                                                            td#6
                                                            td#7
                                                        tr
                                                            th Gender:
                                                            th Citizenship:
                                                            th Mobile Number:
                                                            th Email Address:
                                                        tr
                                                            td(style="text-transform: capitalize;")#8 
                                                            td#9 
                                                            td#10 
                                                            td#11 
                                        .row
                                            .col-md-6(style="padding-right: 10px;")
                                                table.table.table-bordered
                                                    thead
                                                        th.text-center(colspan="4") Academic Information
                                                    tbody
                                                        tr          
                                                            th(colspan="3") Name of School Last Attended
                                                            th School Sector:
                                                        tr
                                                            td#14(colspan="3") 
                                                            td(style="text-transform: capitalize;")#15  
                                                        tr
                                                            th English:
                                                            th Math:
                                                            th Science:
                                                            th General Average:
                                                        tr
                                                            td#16 
                                                            td#17 
                                                            td#18 
                                                            td#19 
                                                        tr
                                                            th(colspan="2") School to enrolled in:
                                                            th(colspan="2") Degree Program:
                                                        tr
                                                            td#20(colspan="2") 
                                                            td#21(colspan="2")
                                            .col-md-6(style="padding-left: 5px;")
                                                table.table.table-bordered
                                                    thead
                                                        th.text-center(colspan="4") Family Background
                                                    tbody
                                                        tr          
                                                            th(colspan="2") Parent/Guardian's Name:
                                                            td#24(colspan="2") 
                                                        tr          
                                                            th(colspan="2") Permanent Mailing Address:
                                                            td#25(colspan="2") 
                                                        tr          
                                                            th(colspan="2") Occupation:
                                                            td#26(colspan="2") 
                                                        tr          
                                                            th(colspan="2") Highest Educational Attainment
                                                            td#27(colspan="2") 
                                                        tr          
                                                            th(colspan="2") No. of Siblings:
                                                            td#28(colspan="2") 
                                                        tr          
                                                            th(colspan="2") Total Parent's Taxable Income:
                                                            td#29(colspan="2")

                                // End of Summary
                                .wizard-footer
                                    .pull-right
                                        input#next.btn.btn-next.btn-fill.btn-primary.btn-wd(type='button', name='next', value='Next')
                                        input#but.btn.btn-finish.btn-fill.btn-primary.btn-wd(type='submit', name='finish', value='Finish')
                                        
                                    .pull-left
                                        input.btn.btn-previous.btn-default.btn-wd(type='button', name='previous', value='Previous')
                                    .clearfix
                    // wizard container
            // end row
        // big container
        .footer
            .container.text-center
            br
            br


    script.
        updateList = function() {
            var input = document.getElementById('file');
            var output = document.getElementById('fileList');

            output.innerHTML = '<ul>';
            for (var i = 0; i < input.files.length; ++i) {
                output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
            }
            output.innerHTML += '</ul>';
        }

        var FormStuff = {
        
            init: function() {
                this.applyConditionalRequired();
                this.bindUIActions();
            },
            
            bindUIActions: function() {
                $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
            },
            
            applyConditionalRequired: function() {
                
                $(".require-if-active").each(function() {
                var el = $(this);
                if ($(el.data("require-pair")).is(":checked")) {
                    el.prop("required", true);
                } else {
                    el.prop("required", false);
            }
        });
            
        }
        
        };
        $('#but').click(function(){
            
            swal({
                title: 'Are you sure?',
                text: "You have review all information you input.",
                type: 'info',
                showCancelButton: true,
                confirmButtonColor: '#62698e',
                cancelButtonColor: '#ef8157',
                confirmButtonText: 'Submit!'
            }).then(function() {
                swal(
                'Submitted!',
                'This application has been submitted.',
                'success'
                );
                window.location=`/apply`;
            })
        })
        FormStuff.init();
        $('#next').click(function(){
            var name = $('#lastname').val() +","+" "+$('#firstname').val()+" "+$('#middlename').val();
            var barangay = document.getElementById('barangay');
            $('#1').html(name);
            $('#2').html($('#dob').val());
            $('#3').html($('#pob').val());
            $('#4').html("#"+$('#hn').val());
            $('#5').html($('#st').val());
            $('#6').html($('#barangay').find("option[value='"+$('#barangay').val()+"']").text());
            $('#7').html($('#zip').val());
            if($('#RadioM').is(':checked')){
                $('#8').html($('#RadioM').val())
            }
            else{
                $('#8').html($('#RadioF').val())
            }
            $('#9').html($('#citizen').val());
            $('#10').html($('#mobile').val());
            $('#11').html($('#email').val());
            $('#12').html($('#tod').val());
            $('#13').html($('#tg').val());
            $('#14').html($('#rs').val());
            if($('#sradioB').is(':checked')){
                $('#15').html($('#sradioB').val())
            }
            else{
                $('#15').html($('#sradioV').val())
            }
            $('#16').html($('#eng').val());
            $('#17').html($('#mth').val());
            $('#18').html($('#sci').val());
            $('#19').html($('#ga').val());
            $('#20').html($('#school').find("option[value='"+$('#school').val()+"']").text());
            $('#21').html($('#course').find("option[value='"+$('#course').val()+"']").text());
            $('#22').html($('#tos').val());
            $('#23').html($('#agency').val());
            $('#24').html($('#guardian').val());
            $('#25').html($('#address').val());
            $('#26').html($('#go').val());
            $('#27').html($('#hea').val());
            $('#28').html($('#siblings').val());
            $('#29').html($('#income').val());
        })
        function setFormValidation(id) {
            $(id).validate({
                highlight: function(element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
                $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
                },
                success: function(element) {
                $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
                $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                $(element).closest('.form-group').append(error);
                },
            });
            }

            $(document).ready(function() {
                setFormValidation('#data');
            });