extends ../../../templates/Abase

block body
    div(style="background-image: url('../img/bg2.png'); background-size: 100% 100%;")
        // Creative Tim Branding
        // Big container
        .container
            .row(style='margin-top: -60px;')
                .col-sm-8.col-sm-offset-2
                    // Wizard container
                    .wizard-container
                        #wizardProfile.card.wizard-card(data-color='azure')
                            form(action='', method='')
                                // You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"
                                .wizard-header.text-center
                                    h3.wizard-title(style='font-weight:bold; text-transform: uppercase;')
                                        a(href='/index')
                                            button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                i.ti-close(style='margin-right: 10px;')
                                        |                                   application form
                                    p.category
                                        | Fill in all the required information. Do not leave an item blank. If item is not applicable, indicate N/A.
                                .wizard-navigation
                                    .progress-with-circle
                                        .progress-bar(role='progressbar', aria-valuenow='1', aria-valuemin='1', aria-valuemax='3', style='width: 21%;')
                                    ul
                                        li
                                            a(href='#personal', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-user
                                                |                                               Personal Information
                                        li
                                            a(href='#education', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-pencil
                                                |                                               Educational Background
                                        li
                                            a(href='#family', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-heart
                                                |                                               Family Background
                                        li
                                            a(href='#summary', data-toggle='tab')
                                                .icon-circle
                                                    i.ti-map
                                                |                                               Summary
                                br
                                // Personal Information
                                .tab-content
                                    #personal.tab-pane
                                        .row
                                            .col-md-4
                                                .form-group
                                                    label
                                                        | Last Name 
                                                        small *
                                                    input.form-control(name='lastname', type='text', ='Last Name')
                                            .col-md-4
                                                .form-group
                                                    label
                                                        | First Name 
                                                        small *
                                                    input.form-control(name='firstname', type='text', ='First Name')
                                            .col-md-4
                                                .form-group
                                                    label
                                                        | Middle Name 
                                                        small
                                                    input.form-control(name='middlename', type='text', ='Middle Name')
                                        .row
                                            .col-md-5
                                                .form-group
                                                    label
                                                        | Date of Birth 
                                                        small *
                                                    input.form-control.datetimepicker(name='bday', type='date', ='Birthday')
                                            .col-md-7
                                                .form-group
                                                    label
                                                        | Place of Birth 
                                                        small *
                                                    input.form-control(name='bplace', type='string', ='Birthplace')
                                        .row
                                            .col-md-2
                                                .form-group
                                                    label
                                                        | House No. 
                                                        small *
                                                    input.form-control(name='house', type='number')
                                            .col-md-4
                                                .form-group
                                                    label
                                                        | Street
                                                        small *
                                                    input.form-control(name='street', type='string', ='Street')
                                            .col-md-4
                                                .form-group
                                                    label
                                                        | Barangay 
                                                        small *
                                                    select.form-control(name='barangay', type='string', ='barangay')
                                                        each bara in barangay
                                                            option(value=bara.intBarangayId) #{bara.strBarangayName}
                                            .col-md-2
                                                .form-group
                                                    label
                                                        | Zip Code 
                                                        small *
                                                    input.form-control(name='zipcode', type='string', readonly)
                                        .row
                                            .col-md-2
                                                .form-group
                                                    form(name="gender")
                                                        label
                                                            | Sex 
                                                            small *
                                                        .form-check.form-check-radio.form-check-inline
                                                            label.form-check-label
                                                                input#exampleRadios1.form-check-input(type='radio', name='exampleRadio', value='male')
                                                                span.form-check-sign
                                                                |                                                           Male
                                                        .form-check.form-check-radio.form-check-inline
                                                            label.form-check-label
                                                                input#exampleRadios1.form-check-input(type='radio', name='exampleRadio', value='female')
                                                                span.form-check-sign
                                                                |                                                           Female
                                            
                                            .col-md-5     
                                                .form-group
                                                    label
                                                        | Citizenship 
                                                        small *
                                                    input.form-control(name='citizenship', type='text', ='Citizenship')
                                            .col-md-5
                                                .form-group
                                                    label
                                                        | Mobile Number 
                                                        small *
                                                    input.form-control(name='citizenship', type='number', ='Mobile Number')
                                            
                                        .row
                                            .col-md-10
                                                .form-group
                                                    label
                                                        | Email Address 
                                                        small *
                                                    input.form-control(name='email', type='email', ='mandaluyong@gmail.com')
                                        .row
                                            .col-md-6
                                                .form-check
                                                    input#yesCheck.form-check-input(type="checkbox")
                                                    |     
                                                    label.form-check-label(for="yesCheck")
                                                    | Are you having any kind of disability? if yes specify.
                                                    |
                                                    .reveal-if-active
                                                        label(for="tod")
                                                        | Type of Disability
                                                        small 
                                                        input#tod.require-if-active.form-control(name='tod', type='string', ='...', data-require-pair='#yesCheck')
                                            .col-md-6
                                                .form-check
                                                    input#yesCheck.form-check-input(type="checkbox")
                                                    |     
                                                    label.form-check-label(for="yesCheck")
                                                    | Are you a member of Tribal Groups? if yes specify.
                                                    |
                                                    .reveal-if-active
                                                        label(for="tod")
                                                        | Tribal Group
                                                        small 
                                                        input#tod.require-if-active.form-control(name='tod', type='string', ='...', data-require-pair='#yesCheck')
                                    // End of Personal Information
                                    // Educational Background
                                    #education.tab-pane
                                        .row    
                                            .col-md-10
                                                .form-group
                                                    label
                                                        | Name of School Last Attended 
                                                        small *
                                                    input.form-control(name='lastschool', type='string', ='School last Attended')
                                        .row
                                            .col-md-3
                                                form
                                                    .form-group
                                                        label
                                                            | School Sector 
                                                            small *
                                                        .form-check.form-check-radio.form-check-inline
                                                            label.form-check-label
                                                                input#exampleRadios1.form-check-input(type='radio', name='exampleRadio', value='option1')
                                                                span.form-check-sign
                                                                |                                                           Public
                                                        .form-check.form-check-radio.form-check-inline
                                                            label.form-check-label
                                                                input#exampleRadios1.form-check-input(type='radio', name='exampleRadio', value='option2')
                                                                span.form-check-sign
                                                                |                                                           Private

                                            .col-md-2
                                                .form-group
                                                    label
                                                        | English 
                                                        small *
                                                    input.form-control(name='citizenship', type='string', ='--')
                                            .col-md-2
                                                .form-group
                                                    label
                                                        | Math 
                                                        small *
                                                    input.form-control(name='citizenship', type='string', ='--')
                                            .col-md-2
                                                .form-group
                                                    label
                                                        | Science 
                                                        small *
                                                    input.form-control(name='citizenship', type='string', ='--')
                                            .col-md-3
                                                .form-group
                                                    label
                                                        | General Average 
                                                        small *
                                                    input.form-control(name='citizenship', type='string', ='--')
                                        .row
                                            .col-md-10
                                                .form-group
                                                    label(for="school") School intended to enroll or enrolled in *
                                                    |     
                                                    select#school.form-control
                                                        each school in schools
                                                            option(value=school.intSchoolId) #{school.strSchoolName} 
                                                        
                                        .row
                                            .col-md-3
                                                form
                                                    .form-group
                                                        label
                                                            | Type of School 
                                                            small *
                                                        .form-check.form-check-radio.form-check-inline
                                                            label.form-check-label
                                                                input#exampleRadios1.form-check-input(type='radio', name='exampleRadio', value='option1')
                                                                span.form-check-sign
                                                                |                                                           Public
                                                        .form-check.form-check-radio.form-check-inline
                                                            label.form-check-label
                                                                input#exampleRadios1.form-check-input(type='radio', name='exampleRadio', value='option2')
                                                                span.form-check-sign
                                                                |                                                           Private
                                            .col-md-9
                                                .form-group
                                                    label(for="course") Degree Program *
                                                    |     
                                                    select#course.form-control
                                                        each course in courses
                                                            option(value=course.intCourseId) #{course.strCourseName}

                                        .row
                                            .col-md-12
                                                form
                                                    .form-check
                                                        input#yessCheck.form-check-input(type="checkbox")
                                                        |     
                                                        label.form-check-label(for="yessCheck")
                                                        | Are you enjoying any other financial assistance? Check if yes, otherwise leave it blank.
                                                        |
                                                        .reveal-if-active
                                                            .row
                                                                .col-md-6
                                                                    label(for="tos")
                                                                    | Type of Support
                                                                    small 
                                                                    input#tod.require-if-active.form-control(name='tos', type='string', ='...', data-require-pair='#yessCheck')
                                                                .col-md-6
                                                                    label(for="agency")
                                                                    | Name of Grantee Institution/Agency
                                                                    small 
                                                                    input#tod.require-if-active.form-control(name='agency', type='string', ='...', data-require-pair='#yessCheck')   
                                    // End of Educational Background
                                    // Family Background
                                    #family.tab-pane
                                        .row
                                            .col-md-10
                                                .form-group
                                                    label
                                                        | Father's Name 
                                                        small *
                                                    input.form-control(name='fatherFirstname', type='text')
                                        .row
                                            .col-md-9
                                                .form-group
                                                    label
                                                        | Father's Address 
                                                        small *
                                                    input.form-control(name='fatheraddress', type='text')
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label
                                                        | Father's Occupation 
                                                        small 
                                                    input.form-control(name='fatheroccupation', type='text')
                                            .col-md-6
                                                .form-group
                                                    label
                                                        | Educational Attainment 
                                                        small *
                                                    input.form-control(name='fathereducation', type='text')
                                        hr(style="border: 1px solid #bbb;")
                                        .row
                                            .col-md-10
                                                .form-group
                                                    label
                                                        | Mother's Name 
                                                        small *
                                                    input.form-control(name='MotherFirstname', type='text')
                                        .row
                                            .col-md-9
                                                .form-group
                                                    label
                                                        | Mother's Address 
                                                        small *
                                                    input.form-control(name='Motheraddress', type='text')
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label
                                                        | Mother's Occupation 
                                                        small 
                                                    input.form-control(name='Motheroccupation', type='text')
                                            .col-md-6
                                                .form-group
                                                    label
                                                        | Educational Attainment 
                                                        small *
                                                    input.form-control(name='Mothereducation', type='text')
                                        hr(style="border: 1px solid #bbb;")
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label
                                                        | No. of Siblings 
                                                        small *
                                                    input.form-control(name='siblings', type='text')
                                            .col-md-6
                                                .form-group
                                                    label
                                                        | Total Parent's Taxable Income 
                                                        small *
                                                    input.form-control(name='taxincome', type='text')
                                            
                                    // End of Family Background
                                    // Summary
                                    #summary.tab-pane

                                    // End of Summary
                                .wizard-footer
                                    .pull-right
                                        input.btn.btn-next.btn-fill.btn-primary.btn-wd(type='button', name='next', value='Next')
                                        input.btn.btn-finish.btn-fill.btn-primary.btn-wd(type='button', name='finish', value='Finish', data-toggle="modal" data-target="#signature")
                                        #signature.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
                                          .modal-dialog(role="document", style="top: 15%;")
                                            .modal-content
                                              .modal-header
                                                h5#exampleModalLabel.modal-title Write your Signature
                                                         
                                                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                      span(aria-hidden="true") ×
                                              |       
                                              .modal-body
                                                form(method="" action="")
                                                    .form-group
                                                      label(for="exampleFormControlTextarea1")    
                                                      textarea#exampleFormControlTextarea1.form-control(rows="10")

                                              |       
                                              .modal-footer
                                                .form-check.pull-left
                                                  input#exampleCheck1.form-check-input(type="checkbox")
                                                  |     
                                                  label.form-check-label(for="exampleCheck1") I hereby certify that foregoing statements aretrue and correct.

                                                |         
                                                button.btn.btn-primary(type="submit") Submit

                                    .pull-left
                                        input.btn.btn-previous.btn-default.btn-wd(type='button', name='previous', value='Previous')
                                    .clearfix
                    // wizard container
            // end row
        // big container
        .footer
            .container.text-center
            br
            br


    script.
        var FormStuff = {
          
          init: function() {
            this.applyConditionalRequired();
            this.bindUIActions();
          },
          
          bindUIActions: function() {
            $("input[type='radio'], input[type='checkbox']").on("change", this.applyConditionalRequired);
          },
          
          applyConditionalRequired: function() {
            
            $(".require-if-active").each(function() {
              var el = $(this);
              if ($(el.data("require-pair")).is(":checked")) {
                el.prop("required", true);
              } else {
                el.prop("required", false);
              }
            });
            
          }
          
        };

        FormStuff.init();
