extends ../../../templates/masterpanel

block content
    .content(style="background: #f4f3ef;")
        .row
            .col
                .card.card-stats
                    .card-header
                        |                 
                        .stats.text-center
                            h6 Start Semester
                        .icon-big.text-center.icon-warning
                                    i.fa.fa-clock-o.text-primary 
                    .card-body
                        p.text-center.text-muted#Atimer(data-id=Atime) 00d 00H 00m 00s
                        p.text-center.text-muted Application will be open and Continuing Scholars needs to renew their scholarship.
                        p.text-center
                            //- if setting.datApplyDate == null && setting.checkRenew == 1
                            button.btn.btn-info(data-toggle="modal" data-target="#applyModal", type="button")
                                    | Start
                            //- else
                            //-     button.btn.btn-info(data-toggle="modal" data-target="#applyModal", type="button" disabled)
                            //-         | Start
                            #applyModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-header.justify-content-center
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                i.nc-icon.nc-simple-remove
                                            |                             
                                            h4.title.title-up Start Application/Renewal
                                        form(method='POST', action='/home?_method=PUT', style="margin-bottom: -1px;")
                                            .modal-body
                                                .form-group
                                                    h6.form-text.text-muted(for="batch") End of Application/Renewal
                                                    |     
                                                    input#batch.form-control(name="endDate", type="Date")
                                            .modal-footer
                                                .left-side
                                                    button.btn.btn-default.btn-link(type="reset") Reset
                                                |                             
                                                .divider
                                                |                             
                                                .right-side
                                                    button#add.btn.btn-link(type="Submit") Submit
            .col
                .card.card-stats
                    .card-header
                        |                 
                        .stats.text-center
                            h6 Start Renewal
                        .icon-big.text-center.icon-warning
                                    i.fa.fa-refresh.text-success 
                    .card-body
                        p.text-center.text-muted Continuing Scholars needs to renew their scholarship.
                        p.text-center
                            //- if setting.datRenewDate == null && setting.checkApply == 1
                            button.btn.btn-success(data-toggle="modal" data-target="#renewModal", type="button")
                                    | Start
                            //- else
                            //-     button.btn.btn-success(disabled data-toggle="modal" data-target="#renewModal", type="button")
                            //-         | Start
                            #renewModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                .modal-dialog
                                    .modal-content
                                        .modal-header.justify-content-center
                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                i.nc-icon.nc-simple-remove
                                            |                             
                                            h4.title.title-up Start Renewal
                                        form(method='POST', action='/home', style="margin-bottom: -1px;")
                                            .modal-body
                                                .form-group
                                                    h6.form-text.text-muted(for="batch") End of Renewal
                                                    |     
                                                    input#batch.form-control(name="endDate", type="Date")
                                            .modal-footer
                                                .left-side
                                                    button.btn.btn-default.btn-link(type="reset") Reset
                                                |                             
                                                .divider
                                                |                             
                                                .right-side
                                                    button#add.btn.btn-link(type="Submit") Submit              
        
        .row
            .col
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    i.nc-icon.nc-box.text-primary
                                            
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Slots
                                                        
                                    p.card-title
                                    | #{slots}
                                    p
                                
                    .card-footer
                        hr
                                        
                        .stats
                            i.fa.fa-refresh
                            | Remaining Slots      
            .col
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    i.nc-icon.nc-single-02.text-warning
                                            
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Applicants
                                                        
                                    p.card-title
                                        |#{applicant}
                                    p
                                
                    .card-footer
                        hr
                                        
                        .stats
                            i.fa.fa-refresh
                            | Number of Applicants 
        .row         
            .col
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    i.nc-icon.nc-hat-3.text-success
                                            
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Scholars
                                                        
                                    p.card-title
                                    | #{scholar}
                                    p          
                    .card-footer
                        hr
                                        
                        .stats
                            i.fa.fa-calendar-o
                            | Scholar Count
            .col
                .card.card-stats
                    .card-body
                        .row
                            .col-5.col-md-4
                                .icon-big.text-center.icon-warning
                                    i.nc-icon.nc-money-coins.text-success
                                            
                            .col-7.col-md-8
                                .numbers
                                    p.card-category Budget
                                                        
                                    p.card-title
                                    | #{budget}
                                    p
                                
                    .card-footer
                        hr
                                        
                        .stats
                            i.fa.fa-refresh
                            | Remaining Budget            
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team
    script.
        $(document).ready(function(){
            $('#dashboard').addClass('active');
            var date = $('p#Atimer').data('id')
            console.log(date);
            var deadline = new Date(date).getTime();
            var interval = setInterval(function(){

                var today = new Date().getTime();

                var remaining = deadline - today;

                var days = Math.floor(remaining / (1000 * 60 * 60 * 24));
                var hours = Math.floor((remaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((remaining % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((remaining % (1000 * 60)) / 1000);

                $('p#Atimer').html(days + "d " + hours + "H " + minutes + "m " + seconds + "s ");
                if(remaining < 0){
                    clearInterval(interval);
                    $('p#Atimer').html('00d 00H 00m 00s');
                }
            },1000);
        })