extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Scholars        
                    .card-body
                      .table-responsive
                        table#example.table.table-striped.table-bordered
                            thead
                                tr
                                    th Name of Student
                                    th Date                  
                                    th.text-right Status
                                |               
                                tbody
                                    each claim in claims
                                      tr
                                          td #{claim.strStudentLname+","+claim.strStudentFname+" "+claim.strStudentMname}
                                          td(class=`date${claim.intClaimId}`) #{claim.datDateClaimed}                        
                                          td.text-right
                                            if claim.datDateClaimed == null
                                                input(type="checkbox" class="clam" data-toggle="toggle" data-on="Claimed" data-off="Unclaimed" value=claim.intClaimId)
                                            else
                                                input(type="checkbox" class="clam" data-toggle="toggle" data-on="Claimed" data-off="Unclaimed" value=claim.intClaimId checked)
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team 
    script.
        $(document).ready(function() {
            $('#example').DataTable();
        } );
        $(document).on('click',".edit",function(){
                var myBId = $(this).data('id');
                $('.modal-body #BId').val(myBId);
            });
        $('.clam').change(function(){
            if($(this).is(':checked')){
                console.log("true");
                var student = $(this).val();
                $.ajax({
                    url:'/coordinator/claiming',
                    type: 'POST',
                    data: {ClaimId:student,stat:1},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                            $(`.date${res.intClaimId}`).html(res.datDateClaimed);
                        }
                })
            }
            else{
                console.log("false");
                var student = $(this).val();
                $.ajax({
                    url:'/coordinator/claiming',
                    type: 'POST',
                    data: {ClaimId:student,stat:0},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                            $(`.date${res.intClaimId}`).html(res.datDateClaimed);
                        }
                }) 
            }
        })





