extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Renewals
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered(style="width: 100%;")
                                thead
                                    tr
                                        th Name of Student
                                        th Requirements              
                                        th.text-right
                                            | Actions               
                                tbody
                                    each student in students
                                        tr
                                            td #{student.strStudentLname+","+" "+student.strStudentFname+" "+student.strStudentMname}
                                            td
                                                .row
                                                    .col-md-2.pull-left  
                                                        button#req.btn.btn-info.btn-icon.btn-round.btn-sm(data-id=student, title='View Requirements', data-toggle='modal', data-target='#reqModal')
                                                            i.fa.fa-file-text
                                                    .col-md-10
                                                        .progress-container.progress-primary
                                                            .progress(style="margin-top: 11px;")
                                                                .progress-bar.progress-bar-primary(data-id=student.intStudentId, role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", id='PB'+student.intStudentId)
                                                                span.progress-value 
                                                    // Classic Modal
                                                    #reqModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true" data-backdrop="static" data-keyboard='false')
                                                        .modal-dialog
                                                            form(method='POST' action=`/coordinator/requirements/renew`)
                                                                .modal-content
                                                                    .modal-header.justify-content-center
                                                                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                            i.nc-icon.nc-simple-remove
                                                                        |                             
                                                                        h4.title.title-up Requirements
                                                                    .modal-body
                                                                        .form-group#ReqMod
                                                                        hr
                                                                        input#hidId(type='hidden' name="student" value='' readonly)
                                                                    .modal-footer
                                                                        //- .left-side
                                                                        //-     button.btn.btn-default.btn-link(type="reset") Reset
                                                                        //- |                             
                                                                        .divider
                                                                        |                             
                                                                        .right-side
                                                                            button.btn.btn-link(type="submit") Save Changes
                                                                        
                    
                                            td.text-right
                                                button.btn.btn-success.btn-icon.btn-round.btn-sm(data-id=student.intStudentId class="renew" title="Accept" id=`ACCPT${student.intStudentId}`)                  
                                                    i.fa.fa-check    
                                                button.btn.btn-danger.btn-icon.btn-round.btn-sm(title="Decline")
                                                    i.fa.fa-times
        //- .row#close.justify-content-center
        //-     .col-md-12.text-center
        //-         img(src="../img/logo1.png", style="opacity:.6; width:300px; height: 300px; padding: none;")
        //-         br
        //-         br
        //-         h2.title.text-muted(style="text-transform: uppercase; padding-bottom: -10%;") Application is not yet open.
        //-         .blockqoute Toggle switch to open the application.                                 
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team

        script.
            $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });
            $(function(){
                $('.apply').prop('disabled',true);
                var Value=0;
                var student=[];
                var bar=0;
                $('.progress-bar').each(function(){
                    student[bar] = $(this).data('id');
                    

                    $.ajax({
                    url:'/coordinator/query/renew',
                    type: 'POST',
                    data: 'StudentId='+student[bar],
                    dataType: 'json',
                        success: function(data){
                            console.log(data);
                            console.log('functions')
                            $('#ReqMod').empty();
                            data.forEach(function(datum){
                                if(datum.isSubmitted==1){
                                    Value+=100/data.length;
                                    $('#PB'+datum.intARStudId).css('width', Value + '%').attr('aria-valuenow', Value);
                                        console.log("VALUE:"+Value);
                                        if (Value >= 100){
                                            $('#ACCPT'+datum.intARStudId).removeAttr("disabled")
                                        }
                                        else if (Value <= 99){
                                            $('#ACCPT'+datum.intARStudId).prop('disabled',true);
                                        }                               
                                }
                                
                            })
                        }
                    });
                    bar++;
                })
                
            })
            var applicant;
            var reqment;
            $(document).on('click','#req',function(){
                var Value=0;
                console.log(Value);
                console.log('clicked');
                applicant = $(this).data('id');
                reqment = $(this).data('id');
                console.log(applicant);
                $('#prog').attr('id','PB'+applicant.intStudentId);
                $('#hidId').val(applicant.intStudentId);
                $.ajax({
                    url:'/coordinator/query/renew',
                    type: 'POST',
                    data: 'StudentId='+applicant.intStudentId,
                    dataType: 'json',
                        success: function(data){
                            console.log(data);
                            console.log('functions')
                            $('#ReqMod').empty();
                            data.forEach(function(datum){
                                if(datum.isSubmitted==0){
                                    $('#ReqMod').append(`
                                    <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="files[]" id=${100/data.length} value=${datum.intARId}>
                                    ${datum.strRequirementDesc}
                                    <span class="form-check-sign">
                                    <span class="check">
                                    </span>
                                    </label>
                                    </div>`)
                                }
                                else{
                                    $('#ReqMod').append(`
                                    <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="files[]" id=${100/data.length} value=${datum.intARId} checked disabled>
                                    ${datum.strRequirementDesc}
                                    <span class="form-check-sign">
                                    <span class="check">
                                    </span>
                                    </label>
                                    </div>`)
                                    Value+=100/data.length;
                                    $('#PB'+datum.intARStudId).css('width', Value + '%').attr('aria-valuenow', Value);
                                        console.log("VALUE:"+Value);
                                        if (Value >= 100){
                                            $('#ACCPT'+datum.intARStudId).removeAttr("disabled")
                                        }
                                        else if (Value <= 99){
                                            $('#ACCPT'+datum.intARStudId).prop('disabled',true);
                                        }
                                }
                            })
                        }
                    });
                }); 
                
            $('.renew').click(function(){
                var student = $(this).data('id');
                swal(
                'Approved!',
                'This Student is now officially renewed in this program.',
                'success'
                )
                window.location=href=`/coordinator/renewal/${student}`; 
            });

            $(document).on('click','.form-check-input',function() {
                console.log('here checked::');
                var emptyValue = 0
                $('input:checked').each(function() {
                    emptyValue += Number($(this).attr('id'));
                    console.log(emptyValue);
                });
                $('#PB'+reqment.intStudentId).css('width', emptyValue + '%').attr('aria-valuenow', emptyValue);
                    if (emptyValue >= 100){
                        $('#ACCPT'+reqment.intStudentId).removeAttr("disabled")
                    }
                    else if (emptyValue <= 99){
                        $('#ACCPT'+reqment.intStudentId).prop('disabled',true);
                    }
            });
            $(document).ready(function(){
                $('#transact').addClass('active');
                $('#transaction.collapse').slideDown('slow','swing').addClass('show');
                $('#renewal').addClass('active');
            })