extends ../../../templates/Cmasterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Scholars
                            //- .pull-right
                            //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                    
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered(style="width: 100%;")
                                thead
                                    tr
                                        th Name of Student                     
                                        th.text-center Status       
                                        th.text-right
                                            | Actions               
                                tbody
                                    each scholar in scholars
                                        tr
                                            td #{scholar.strStudentLname+", "+" "+scholar.strStudentFname+" "+scholar.strStudentMname}
                                            td.text-center(style="padding-top: 18px;")
                                                if scholar.enumStatus == 'Continuing'
                                                    .badge.badge-success #{scholar.enumStatus}
                                                else if scholar.enumStatus == 'Forfeited'
                                                    .badge.badge-danger #{scholar.enumStatus}
                                                else
                                                    .badge.badge-info #{scholar.enumStatus}
                                            td.text-right
                                                button.btn.btn-info.btn-icon.btn-round.btn-sm(class="show", data-id=scholar, title='View Information', data-toggle='modal', data-target='#myModal')
                                                    i.fa.fa-eye
                                                // Classic Modal
                                                #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog.modal-lg(role='document')
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Scholar Details
                                                            .modal-body
                                                                .row(style="overflow-x: auto;")
                                                                    .col-md-12
                                                                        table.table.table-bordered
                                                                    
                                                                            thead
                                                                                th.text-center(colspan="4") Personal Information
                                                                            tbody
                                                                                tr          
                                                                                    th(colspan="2") Student's Name:
                                                                                    th Date of Birth:
                                                                                    th Place of Birth:
                                                                                tr
                                                                                    td#1(colspan="2") 
                                                                                    td#2 
                                                                                    td#3 
                                                                            
                                                                                tr
                                                                                    th House Number:
                                                                                    th Street:
                                                                                    th Barangay:
                                                                                    th Zip Code:
                                                                                tr
                                                                                    td#4 
                                                                                    td#5 
                                                                                    td#6 
                                                                                    td#7 
                                                                                tr
                                                                                    th Gender:
                                                                                    th Citizenship:
                                                                                    th Mobile Number:
                                                                                    th Email Address:
                                                                                tr
                                                                                    td(style="text-transform: capitalize;")#8 
                                                                                    td#9 
                                                                                    td#10 
                                                                                    td#11 
                                                                .row(style="overflow-x: auto;")
                                                                    .col-md-12
                                                                        table.table.table-bordered
                                                                            thead
                                                                                th.text-center(colspan="4") Academic Information
                                                                            tbody
                                                                                tr
                                                                                    th(colspan="2") School Currently in:
                                                                                    th(colspan="2") Degree Program:
                                                                                tr
                                                                                    td#20(colspan="2") Polytechnic University of the Philippines
                                                                                    td#21(colspan="2") Bachelor in Science in Information Technology
                                                                                
                                                                    .col-md-12(style="overflow-x: auto;")
                                                                        table.table.table-bordered
                                                                            thead
                                                                                th.text-center(colspan="4") Family Background
                                                                            tbody
                                                                                tr          
                                                                                    th(colspan="2") Parent/Guardian's Name:
                                                                                    td#24(colspan="2") 
                                                                                tr          
                                                                                    th(colspan="2") Permanent Mailing Address:
                                                                                    td#25(colspan="2") 
                                                                                tr          
                                                                                    th(colspan="2") Occupation:
                                                                                    td#26(colspan="2") 
                                                                                tr          
                                                                                    th(colspan="2") Highest Educational Attainment
                                                                                    td#27(colspan="2") 
                                                                                tr          
                                                                                    th(colspan="2") No. of Siblings:
                                                                                    td#28(colspan="2") 
                                                                                tr          
                                                                                    th(colspan="2") Total Parent's Taxable Income:
                                                                                    td#29(colspan="2") 
                                                            .modal-footer  
                                                button.btn.btn-warning.btn-icon.btn-round.btn-sm(class="stat" data-id=scholar type="button" title="Change Status" data-toggle="modal" data-target="#iskoModal")
                                                    i.fa.fa-edit
                                                #iskoModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                  .modal-dialog
                                                      .modal-content
                                                          .modal-header.justify-content-center
                                                              button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                  i.nc-icon.nc-simple-remove
                                                              |                             
                                                              h4.title.title-up Scholarship Type
                                                          form#stat(method='PUT', action='/coordinator/scholars', style="margin-bottom: -1px;")
                                                              .modal-body
                                                                    .form-group
                                                                        h6.form-text.text-muted(for="stype") Status
                                                                        |     
                                                                        select#stype.form-control(name="stype")
                                                                            option(value='Continuing') Continuing
                                                                            option(value='Graduated') Graduated 
                                                                            option(value='Forfeited') Forfeited

                                                              .modal-footer
                                                                  //- .left-side
                                                                  //-     button.btn.btn-default.btn-link(type="reset") Reset
                                                                  |                             
                                                                  .divider
                                                                  |                             
                                                                  .right-side
                                                                      button.btn.btn-link(type="submit") Submit                           
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                .credits.ml-auto
                    span.copyright
                        | © &nbsp;
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team

        script.
            $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });
            var student;
            $('.stat').click(function(){
                student = $(this).data('id');
            })
            $('form#stat').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url : '/coordinator/scholars',
                    method: 'put',
                    data: $(this).serialize()+'&&student='+student.intStudentId,
                    success: function(response){
                        if(response=='success'){
                            swal(
                            'Success',
                            'Status Change',
                            'success'
                            ).then(function(){
                                location.reload();
                            })
                        }
                    }
                })
            })


            $(document).on('click',".show",function(){
                info = $(this).data('id');
                $.ajax({
                    url:'/coordinator/studinfo',
                    type: 'POST',
                    data: 'id='+info.intStudentId,
                    dataType: 'json',
                    success: function(info){
                        $('#1').html(info.strStudentLname+', '+info.strStudentFname+' '+info.strStudentMname)
                        $('#2').html(info.datStudentBday)
                        $('#3').html(info.strStudentBplace)
                        $('#4').html(info.strStudentHouseNo)
                        $('#5').html(info.strStudentStreet)
                        $('#6').html(info.strBarangayName)
                        $('#7').html(info.strStudentZipCode)
                        $('#8').html(info.enumStudentGender)
                        $('#9').html(info.strStudentCitizenship)
                        $('#10').html(info.strStudentMobNum)
                        $('#11').html(info.strStudentEmail)
                        $('#20').html(info.strSchoolName)
                        $('#21').html(info.strCourseName)
                        $('#24').html(info.strParentName)
                        $('#25').html(info.strParentAddress)
                        $('#26').html(info.strParentOccupation)
                        $('#27').html(info.strParentEducAttain)
                        $('#28').html(info.intStudentSibs)
                        $('#29').html(info.dblStudentFIncome)
                    }
                })
            });
            $(document).ready(function(){
                $('#scholars').addClass('active');
            })