extends ../../../templates/Cmasterpanel

block content
    if slotnum == 0
            .content
                .row
                    .col-md-12
                        .card(style="padding-top:100px;")
                            h1.title.text-center.text-muted
                                img(src="/img/logo.png" style="margin-top: -50px; height: 150px; width: 150px;")
                                
                                p.error-msg(style="font-weight: bolder; text-transform: uppercase; font-size: 20px;")      
                                    | Application is Closed.
                                p.error-msg(style="font-weight: bolder; text-transform: uppercase; font-size: 20px;")      
                                    | No Slots Available.
    else
        .content
            .row
                .col-md-12
                    .card
                        .card-header
                            h4.card-title  List of Applicants
                                //- .pull-right
                                //-     input.bootstrap-switch(onchange="onCheckboxChanged(this.checked)" type="checkbox", data-toggle="switch", data-on-label="<i class='fa fa-graduation-cap'></i>", data-off-label="<i class='nc-icon nc-simple-remove'></i>", data-on-color="success", data-off-color="success") 
                        
                        .card-body
                            .table-responsive
                                table#example.table.table-striped.table-bordered(style="width: 100%;")
                                    thead
                                        tr
                                            th Name of Student                     
                                            th Date of Application
                                            th Requirements              
                                            th.text-right
                                                | Actions               
                                    tbody
                                        each applicant in applicants
                                            tr
                                                td #{applicant.strStudentLname+","+" "+applicant.strStudentFname+" "+applicant.strStudentMname}
                                                td #{applicant.datStudAppDate}
                                                td  
                                                    .row
                                                        .col-md-2.pull-left  
                                                            button#req.btn.btn-info.btn-icon.btn-round.btn-sm(data-id=applicant, title='View Requirements', data-toggle='modal', data-target='#reqModal')
                                                                i.fa.fa-file-text
                                                        .col-md-10
                                                            .progress-container.progress-primary
                                                                .progress
                                                                    .progress-bar.progress-bar-primary(data-id=applicant.intStudentId role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", id='PB'+applicant.intStudentId)
                                                                    span.progress-value 
                                                        // Classic Modal
                                                        #reqModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true" data-backdrop="static" data-keyboard='false')
                                                            .modal-dialog
                                                                form(method='POST' action=`/coordinator/requirements`)
                                                                    .modal-content
                                                                        .modal-header.justify-content-center
                                                                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                                i.nc-icon.nc-simple-remove
                                                                            |                             
                                                                            h4.title.title-up Requirements
                                                                        .modal-body
                                                                            .form-group#ReqMod
                                                                            hr
                                                                            input#hidId(type='hidden' name="student" value='' readonly)
                                                                        .modal-footer
                                                                            //- .left-side
                                                                            //-     button.btn.btn-default.btn-link(type="reset") Reset
                                                                            //- |                             
                                                                            .divider
                                                                            |                             
                                                                            .right-side
                                                                                button.btn.btn-link(type="submit") Save Changes
                                                                            
                        
                                                td.text-right
                                                    button.btn.btn-info.btn-icon.btn-round.btn-sm(class="show", data-id=applicant, title='View Information', data-toggle='modal', data-target='#myModal')
                                                        i.fa.fa-eye
                                                    // Classic Modal
                                                    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                        .modal-dialog.modal-lg(role='document')
                                                            .modal-content
                                                                .modal-header.justify-content-center
                                                                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                        i.nc-icon.nc-simple-remove
                                                                    |                             
                                                                    h4.title.title-up Application Details
                                                                .modal-body
                                                                    .row
                                                                        .col-md-12
                                                                            table.table.table-bordered
                                                                                thead
                                                                                    th.text-center(colspan="4") Personal Information
                                                                                tbody
                                                                                    tr          
                                                                                        th(colspan="2") Applicant's Name:
                                                                                        th Date of Birth:
                                                                                        th Place of Birth:
                                                                                    tr
                                                                                        td#1(colspan="2") 
                                                                                        td#2 
                                                                                        td#3 
                                                                                
                                                                                    tr
                                                                                        th House Number:
                                                                                        th Street:
                                                                                        th Barangay:
                                                                                        th Zip Code:
                                                                                    tr
                                                                                        td#4 
                                                                                        td#5 
                                                                                        td#6 
                                                                                        td#7 
                                                                                    tr
                                                                                        th Gender:
                                                                                        th Citizenship:
                                                                                        th Mobile Number:
                                                                                        th Email Address:
                                                                                    tr
                                                                                        td(style="text-transform: capitalize;")#8 
                                                                                        td#9 
                                                                                        td#10 
                                                                                        td#11 
                                                                    .row
                                                                        .col-md-6(style="padding-right: 10px;")
                                                                            table.table.table-bordered
                                                                                thead
                                                                                    th.text-center(colspan="4") Academic Information
                                                                                tbody
                                                                                    tr          
                                                                                        th(colspan="3") Name of School Last Attended:
                                                                                        th School Sector:
                                                                                    tr
                                                                                        td#14(colspan="3") 
                                                                                        td(style="text-transform: capitalize;")#15 
                                                                                    tr
                                                                                        th English:
                                                                                        th Math:
                                                                                        th Science:
                                                                                        th General Average:
                                                                                    tr
                                                                                        td#16 
                                                                                        td#17 
                                                                                        td#18 
                                                                                        td#19 
                                                                                    tr
                                                                                        th(colspan="2") School to enrolled in:
                                                                                        th(colspan="2") Degree Program:
                                                                                    tr
                                                                                        td#20(colspan="2") Polytechnic University of the Philippines
                                                                                        td#21(colspan="2") Bachelor in Science in Information Technology
                                                                                    
                                                                        .col-md-6(style="padding-left: 5px;")
                                                                            table.table.table-bordered
                                                                                thead
                                                                                    th.text-center(colspan="4") Family Background
                                                                                tbody
                                                                                    tr          
                                                                                        th(colspan="2") Parent/Guardian's Name:
                                                                                        td#24(colspan="2") 
                                                                                    tr          
                                                                                        th(colspan="2") Permanent Mailing Address:
                                                                                        td#25(colspan="2") 
                                                                                    tr          
                                                                                        th(colspan="2") Occupation:
                                                                                        td#26(colspan="2") 
                                                                                    tr          
                                                                                        th(colspan="2") Highest Educational Attainment
                                                                                        td#27(colspan="2") 
                                                                                    tr          
                                                                                        th(colspan="2") No. of Siblings:
                                                                                        td#28(colspan="2") 
                                                                                    tr          
                                                                                        th(colspan="2") Total Parent's Taxable Income:
                                                                                        td#29(colspan="2") 
                                                                .modal-footer
                                                    button.btn.btn-success.btn-icon.btn-round.btn-sm(data-id=applicant.intStudentId class="apply" title="Accept" id=`ACCPT${applicant.intStudentId}`)                  
                                                        i.fa.fa-check    
                                                    button.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=applicant.intStudentId class="decline" title="Decline")
                                                        i.fa.fa-times
            //- .row#close.justify-content-center
            //-     .col-md-12.text-center
            //-         img(src="../img/logo1.png", style="opacity:.6; width:300px; height: 300px; padding: none;")
            //-         br
            //-         br
            //-         h2.title.text-muted(style="text-transform: uppercase; padding-bottom: -10%;") Application is not yet open.
            //-         .blockqoute Toggle switch to open the application.                                 
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team

        script.
            var max = 0;
            var min = 0;
            $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });
            $(function(){
                $('.apply').prop('disabled',true);
                var Value=0;
                var student=[];
                var bar=0;
                $('.progress-bar').each(function(){
                    student[bar] = $(this).data('id');
                    

                    $.ajax({
                    url:'/coordinator/query/apply',
                    type: 'POST',
                    data: 'StudentId='+student[bar],
                    dataType: 'json',
                        success: function(data){
                            console.log(data);
                            console.log('functions')
                            $('#ReqMod').empty();
                            data.forEach(function(datum){
                                if(datum.isSubmitted==1){
                                    Value+=100/data.length;
                                    min += 1;
                                    max = data.length;
                                    $('#PB'+datum.intARStudId).css('width', Value + '%').attr('aria-valuenow', Value);
                                        console.log("VALUE:"+Value);
                                        if (Value >= 100){
                                            $('#ACCPT'+datum.intARStudId).removeAttr("disabled")
                                        }
                                        else if (Value <= 99){
                                            $('#ACCPT'+datum.intARStudId).prop('disabled',true);
                                        }                               
                                }
                                
                            })
                        }
                    });
                    bar++;
                })
                
            })
            var applicant;
            var reqment;
            $(document).on('click','#req',function(){
                var Value=0;
                console.log(Value);
                console.log('clicked');
                applicant = $(this).data('id');
                reqment = $(this).data('id');
                console.log(applicant);
                $('#prog').attr('id','PB'+applicant.intStudentId);
                $('#hidId').val(applicant.intStudentId);
                $.ajax({
                    url:'/coordinator/query/apply',
                    type: 'POST',
                    data: 'StudentId='+applicant.intStudentId,
                    dataType: 'json',
                        success: function(data){
                            console.log(data);
                            console.log('functions')
                            $('#ReqMod').empty();
                            data.forEach(function(datum){
                                if(datum.isSubmitted==0){
                                    $('#ReqMod').append(`
                                    <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="files[]" id=${100/data.length} value=${datum.intARId}>
                                    ${datum.strRequirementDesc}
                                    <span class="form-check-sign">
                                    <span class="check">
                                    </span>
                                    </label>
                                    </div>`)
                                }
                                else{
                                    $('#ReqMod').append(`
                                    <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="files[]" id=${100/data.length} value=${datum.intARId} checked disabled>
                                    ${datum.strRequirementDesc}
                                    <span class="form-check-sign">
                                    <span class="check">
                                    </span>
                                    </label>
                                    </div>`)
                                    Value+=100/data.length;
                                    $('#PB'+datum.intARStudId).css('width', Value + '%').attr('aria-valuenow', Value);
                                        console.log("VALUE:"+Value);
                                        if (Value >= 100){
                                            $('#ACCPT'+datum.intARStudId).removeAttr("disabled")
                                        }
                                        else if (Value <= 99){
                                            $('#ACCPT'+datum.intARStudId).prop('disabled',true);
                                        }
                                }
                                
                            })
                        }
                    });
                }); 
                
            $('.apply').click(function(){
                var student = $(this).data('id');
                swal(
                'Approved!',
                'This applicant is now officially part of this program.',
                'success'
                )
                window.location=href=`/coordinator/application/${student}`;
            })
            $('.decline').click(function(){
                var student = $(this).data('id');
                swal(
                'Declined!',
                'info'
                )
                window.location=href=`/coordinator/application/${student}/decline`;
            })

            $(document).on('click','.form-check-input',function() {
                console.log('here checked::');
                var emptyValue = 0
                $('input:checked').each(function() {
                    emptyValue += Number($(this).attr('id'));
                    console.log(emptyValue);
                });
                $('#PB'+reqment.intStudentId).css('width', emptyValue + '%').attr('aria-valuenow', emptyValue);
                    if (emptyValue >= 100){
                        $('#ACCPT'+reqment.intStudentId).removeAttr("disabled")
                    }
                    else if (emptyValue <= 99){
                        $('#ACCPT'+reqment.intStudentId).prop('disabled',true);
                    }
            });
            //- function onCheckboxChanged(checked){
            //-     if(checked)
            //-         $("#close").slideUp(10 ,'linear'),
            //-         $("#hiddenRow").slideDown(300 ,'linear');
            //-     else $("#hiddenRow").slideUp(10 ,'linear'),
            //-         $("#close").fadeToggle(300 ,'linear');
            //- }
            $(document).on('click',".show",function(){
                info = $(this).data('id');
                $.ajax({
                    url:'/coordinator/studinfo',
                    type: 'POST',
                    data: 'id='+info.intStudentId,
                    dataType: 'json',
                    success: function(info){
                        console.log(info);
                        $('#1').html(info.strStudentLname+','+info.strStudentFname+' '+info.strStudentMname)
                        $('#2').html(info.datStudentBday)
                        $('#3').html(info.strStudentBplace)
                        $('#4').html(info.strStudentHouseNo)
                        $('#5').html(info.strStudentStreet)
                        $('#6').html(info.strBarangayName)
                        $('#7').html(info.strStudentZipCode)
                        $('#8').html(info.enumStudentGender)
                        $('#9').html(info.strStudentCitizenship)
                        $('#10').html(info.strStudentMobNum)
                        $('#11').html(info.strStudentEmail)
                        $('#12').html(info.strStudDisability)
                        $('#13').html(info.strStudTG)
                        $('#14').html(info.strEBGSchoolName)
                        $('#15').html(info.enumSchoolSector)
                        $('#16').html(info.dblEducEng)
                        $('#17').html(info.dblEducMth)
                        $('#18').html(info.dblEducSci)
                        $('#19').html(info.dblEducGA)
                        $('#20').html(info.strSchoolName)
                        $('#21').html(info.strCourseName)
                        $('#24').html(info.strParentName)
                        $('#25').html(info.strParentAddress)
                        $('#26').html(info.strParentOccupation)
                        $('#27').html(info.strParentEducAttain)
                        $('#28').html(info.intStudentSibs)
                        $('#29').html(info.dblStudentFIncome)
                    }
                })
            });
            $(document).ready(function(){
                var sms = $(this);
                $('#transact').addClass('active');
                if(sms.hasClass('show')){
                    $('#transaction.collapse').slideDown('slow','swing').removeClass('show');
                } else{
                    $('#transaction.collapse').slideUp('slow','swing').addClass('show');
                }
                $('#application').addClass('active');
            })