extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Courses &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                i.fa.fa-plus

                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add Course                           
                                            
                                            form#add(method='POST', action='/maintenance/course', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="course") Course Name
                                                        |     
                                                        input#course.form-control(name="Cname", type="string", placeholder="Enter course name", maxLength="60", required)
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                // End Modal
                                thead
                                    tr
                                        th Name of Course
                                        th Status                     
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                    each course in courses
                                        tr
                                            td #{course.strCourseName}
                                            td.text-center 
                                                if course.isActive == 0
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" data-off="Inactive" value=course.intCourseId)
                                                else
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" checked data-off="Inactive" value=course.intCourseId)
                                            td.text-right                   
                                                button.btn.btn-success.btn-icon.btn-round.btn-sm(class="edit" data-id=course data-toggle="modal" data-target="#editModal", type="button", title="Edit")
                                                    i.fa.fa-edit
                                                // Classic Modal
                                                #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Edit Course
                                                            form#edit(method='POST', action='/maintenance/course?_method=PUT', style="margin-bottom: -1px;")
                                                                .modal-body
                                                                    .form-group
                                                                        h6.form-text.text-muted(for="courseE") Course Name
                                                                        |     
                                                                        input#courseE.form-control(name="Cname", onblur="checkcourse()" type="string", placeholder="Enter new course name", maxLength="60", required)
                                                                    input.form-control(type="hidden" name="CId" id="CId" value='')
                                                                .modal-footer
                                                                    .left-side
                                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                                    |                             
                                                                    .divider
                                                                    |                             
                                                                    .right-side
                                                                        button#edit.btn.btn-link(type="submit") Save Changes
                                                // End Modal

                                                |                           
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=course.intCourseId, title="Delete")
                                                    i.fa.fa-trash
                            
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
        $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });
        $(document).on('click',".edit",function(){
                var myCId = $(this).data('id');
                $('.modal-body #CId').val(myCId.intCourseId);
                $('#courseE').val(myCId.strCourseName);
            });

        $('.clam').change(function(){
            if($(this).is(':checked')){
                console.log("true");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tblcourse',state:1,column:'intCourseId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                })
            }
            else{
                console.log("false");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tblcourse',state:0,column:'intCourseId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                }) 
            }
        })



        $('form#add').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/maintenance/course',
                method: 'post',
                data: $('form#add').serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Added!',
                        'A new course is added.',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }
                    else if(response.sqlMessage.includes('strCourseName_UNIQUE')){
                        $.toast({
                            heading: 'ERROR',
                            text:'Existing Course Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })
        })
        $('form#edit').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/maintenance/course',
                method: 'put',
                data: $(this).serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Updated!',
                        'Course is Updated.',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }
                    else if(response.sqlMessage.includes('strCourseName_UNIQUE')){
                        $.toast({
                            heading: 'ERROR',
                            text:'Existing Course Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })    
        })
        $('button#delete').click(function(){
                var course = $(this).data('id');
            swal({
                title: 'Are you sure?',
                text: "This course will be remove.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62698e',
                cancelButtonColor: '#ef8157',
                confirmButtonText: 'Yes, remove it!'
            }).then(function() {
                $.ajax({
                url: '/maintenance/query/delete',
                method: 'post',
                data: {table:'tblcourse',column:'intCourseId',Id:course},
                success: function(response){
                    console.log(response);
                    if(response=='success'){
                        swal(
                        'Removed!',
                        'This Course has been removed.',
                        'success'
                        ).then(function(){
                            window.location=`/maintenance/course`;
                        })
                    }
                    else if(response.sqlMessage.includes('foreign key')){
                        $.toast({
                            heading: 'ERROR',
                            text:'This Record is Used',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })  
                    }
                }
            })
        })
        })

        $(document).ready(function(){
            var sms = $(this);
            $('#maintenan').addClass('active');
            if(sms.hasClass('show')){
                $('#maintenance.collapse').slideDown('slow','swing').removeClass('show');
            } else{
                $('#maintenance.collapse').slideUp('slow','swing').addClass('show');
            }
            $('#educ').addClass('active');
            $('#Education.collapse').addClass('show');
            $('#course').addClass('active');
        })