extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Districts &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                i.fa.fa-plus

                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add District                           
                                            
                                            form#add(method='POST', action='/maintenance/district', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="district") District Name/No.
                                                        |     
                                                        input#district.form-control(name="district", type="string", placeholder="Enter District Name/No.", maxLength="20", required)
                                                        
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                // End Modal
                                thead
                                    tr
                                        th District
                                        th Status                     
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                    each district in districts
                                        tr
                                            td=district.strDistrictName
                                            td.text-center 
                                                if district.isActive == 0
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" data-off="Inactive" value=district.intDistrictId)
                                                else
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" checked data-off="Inactive" value=district.intDistrictId)
                                            td.text-right                   
                                                button.btn.btn-success.btn-icon.btn-round.btn-sm(class="edit" data-id=district data-toggle="modal" data-target="#editModal", type="button", title="Edit")
                                                    i.fa.fa-edit
                                                // Classic Modal
                                                #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Edit District
                                                            form#edit(method='POST', action='/maintenance/district?_method=PUT', style="margin-bottom: -1px;")
                                                                .modal-body
                                                                    .form-group
                                                                        h6.form-text.text-muted(for="districtE") District Name/No.
                                                                        |     
                                                                        input#districtE.form-control(name="district", type="string", placeholder="Enter District Name/No.", maxLength="20", required)
                                                                    input.form-control(type="hidden" name="BId" id="BId" value='')
                                                                .modal-footer
                                                                    .left-side
                                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                                    |                             
                                                                    .divider
                                                                    |                             
                                                                    .right-side
                                                                        button#edit.btn.btn-link(type="submit") Save Changes
                                                // End Modal

                                                |                           
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=district.intDistrictId, title="Delete")
                                                    i.fa.fa-trash
                            
    footer.footer.footer-black.footer-white
        .container-fluid
            .row
                nav.footer-nav
                    ul
                        li
                            a(href="#", target="_blank") Application
                        |                 
                        li
                            a(href="#", target="_blank") Budget Planning
                        |                 
                        li
                            a(href="#", target="_blank") Releasing
                        |                 
                        li
                            a(href="#", target="_blank") Renewal
                |             
                .credits.ml-auto
                    span.copyright
                        | ©
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
        $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });
        $(document).on('click',".edit",function(){
                var myBId = $(this).data('id');
                $('.modal-body #BId').val(myBId.intDistrictId);
                $('#districtE').val(myBId.strDistrictName);
            });

        $('.clam').change(function(){
            if($(this).is(':checked')){
                console.log("true");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tbldistrict',state:1,column:'intDistrictId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                })
            }
            else{
                console.log("false");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tbldistrict',state:0,column:'intDistrictId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                }) 
            }
        })



            
        $('form#add').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: '/maintenance/district',
                    method: 'post',
                    data: $('form#add').serialize(),
                    success: function(response){
                    console.log(response);
                        if(response == 'success'){
                            swal(
                            'Added!',
                            'A new District is added.',
                            'success'
                            ).then(function(){
                                location.reload();
                            })
                        }
                        else if(response.sqlMessage.includes('strDistrictName_UNIQUE')){
                            $.toast({
                                heading: 'ERROR',
                                text:'Existing District Record',
                                icon:'error',
                                position: 'top-right',
                                loader: false,
                                stack : 3
                            })
                        }
                    }
                })
            })
        $('form#edit').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: '/maintenance/district',
                    method: 'put',
                    data: $(this).serialize(),
                    success: function(response){
                    console.log(response);
                        if(response == 'success'){
                            swal(
                            'Updated!',
                            'District Updated.',
                            'success'
                            ).then(function(){
                                location.reload();
                            })
                        }
                        else if(response.sqlMessage.includes('strDistrictName_UNIQUE')){
                            $.toast({
                                heading: 'ERROR',
                                text:'Existing District Record',
                                icon:'error',
                                position: 'top-right',
                                loader: false,
                                stack : 3
                            })
                        }
                    }
                })  
            })
        $('button#delete').click(function(){
            var district = $(this).data('id');
            swal({
                title: 'Are you sure?',
                text: "This district will be remove.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62698e',
                cancelButtonColor: '#ef8157',
                confirmButtonText: 'Yes, remove it!'
            }).then(function() {
                $.ajax({
                url: '/maintenance/query/delete',
                method: 'post',
                data: {table:'tbldistrict',column:'intDistrictId',Id:district},
                success: function(response){
                    console.log(response);
                    if(response=='success'){
                        swal(
                        'Removed!',
                        'This District has been removed.',
                        'success'
                        ).then(function(){
                            window.location=`/maintenance/barangay`;
                        })
                    }
                    else if(response.sqlMessage.includes('foreign key')){
                        $.toast({
                            heading: 'ERROR',
                            text:'This Record is Used',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })  
                    }
                }
            })
            })

        })
        $(document).ready(function(){
                var sms = $(this);
                $('#maintenan').addClass('active');
                if(sms.hasClass('show')){
                    $('#maintenance.collapse').slideDown('slow','swing').removeClass('show');
                } else{
                    $('#maintenance.collapse').slideUp('slow','swing').addClass('show');
                }
                $('#municipal').addClass('active');
                $('#municipality.collapse').addClass('show');
                $('#district').addClass('active');
            })  