extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Schools &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                i.fa.fa-plus

                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add School                           
                                            
                                            form#add(method='POST', action='/maintenance/school', style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="school") School Name
                                                        |     
                                                        input#school.form-control(name="School", type="string", placeholder="Enter school name", maxLength="60", required)
                                                    .form-group
                                                        label(for="grade") Grading Type
                                                        |     
                                                        select#grade.form-control(name="Grading")
                                                            each grading in gradings
                                                                option(value=grading.intGradingId) #{grading.strGradingDesc}   
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button.btn.btn-link(type="submit") Submit
                                // End Modal
                                thead
                                    tr
                                        th Name of School
                                        th Grading Type    
                                        th Status                
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                    each school in schools
                                        tr
                                            td #{school.strSchoolName}
                                            td #{school.strGradingDesc}
                                            td.text-center 
                                                if school.isActive == 0
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" data-off="Inactive" value=school.intSchoolId)
                                                else
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" checked data-off="Inactive" value=school.intSchoolId)
                                            td.text-right                   
                                                button.btn.btn-success.btn-icon.btn-round.btn-sm(class="edit" data-id=school data-toggle="modal" data-target="#editModal", type="button", title="Edit")
                                                    i.fa.fa-edit
                                                // Classic Modal
                                                #editModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                                    .modal-dialog
                                                        .modal-content
                                                            .modal-header.justify-content-center
                                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                                    i.nc-icon.nc-simple-remove
                                                                |                             
                                                                h4.title.title-up Edit School
                                                            form#edit(method='POST', action='/maintenance/school?_method=PUT', style="margin-bottom: -1px;")
                                                                .modal-body
                                                                    .form-group
                                                                        h6.form-text.text-muted(for="schoolE") School Name
                                                                        |     
                                                                        input#schoolE.form-control(name="School", type="string", placeholder="Enter new school name", maxLength="60", required)
                                                                    .form-group
                                                                        label(for="gradeE") Grading Type
                                                                        |     
                                                                        select#gradeE.form-control(name="Grading")
                                                                            each grading in gradings
                                                                                option(value=grading.intGradingId) #{grading.strGradingDesc} 
                                                                    input.form-control(type="hidden" name="SId" id="SId" value='')
                                                                .modal-footer
                                                                    .left-side
                                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                                    |                             
                                                                    .divider
                                                                    |                             
                                                                    .right-side
                                                                        button#edit.btn.btn-link(type="submit") Save Changes
                                                // End Modal

                                                |                           
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=school.intSchoolId, title="Delete")
                                                    i.fa.fa-trash
                                
    footer.footer.footer-black.footer-white
        .container-fluid
            .row           
                .credits.ml-auto
                    span.copyright
                        | © &nbsp;
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
        $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });
        $(document).on('click',".edit",function(){
                var mySId = $(this).data('id');
                $('#SId').val(mySId.intSchoolId);
                $('#schoolE').val(mySId.strSchoolName);
                $('#gradeE').val(mySId.intSGradingId).change();
            });

        $('.clam').change(function(){
            if($(this).is(':checked')){
                console.log("true");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tblschool',state:1,column:'intSchoolId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                })
            }
            else{
                console.log("false");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tblschool',state:0,column:'intSchoolId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                }) 
            }
        })



        $('form#add').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/maintenance/school',
                method: 'post',
                data: $('form#add').serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Added!',
                        'A new school is added.',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }
                    else if(response.sqlMessage.includes('strSchoolName_UNIQUE')){
                        $.toast({
                            heading: 'ERROR',
                            text:'Existing School Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })
        })
        $('form#edit').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: '/maintenance/school',
                method: 'put',
                data: $(this).serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Updated!',
                        'School Updated.',
                        'success'
                        ).then(function(){
                            location.reload();
                        })
                    }
                    else if(response.sqlMessage.includes('strSchoolName_UNIQUE')){
                        $.toast({
                            heading: 'ERROR',
                            text:'Existing School Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })
            
            })
        $('button#delete').click(function(){
            var school = $(this).data('id');
            swal({
                title: 'Are you sure?',
                text: "This school will be remove.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62698e',
                cancelButtonColor: '#ef8157',
                confirmButtonText: 'Yes, remove it!'
            }).then(function() {
                $.ajax({
                url: '/maintenance/query/delete',
                method: 'post',
                data: {table:'tblschool',column:'intSchoolId',Id:school},
                success: function(response){
                    console.log(response);
                    if(response=='success'){
                        swal(
                        'Removed!',
                        'This School has been removed.',
                        'success'
                        ).then(function(){
                            window.location=`/maintenance/school`;
                        })
                    }
                    else if(response.sqlMessage.includes('foreign key')){
                        $.toast({
                            heading: 'ERROR',
                            text:'This Record is Used',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })  
                    }
                }
            })
            })

            })
        
        $(document).ready(function(){
            var sms = $(this);
            $('#maintenan').addClass('active');
            if(sms.hasClass('show')){
                $('#maintenance.collapse').slideDown('slow','swing').removeClass('show');
            } else{
                $('#maintenance.collapse').slideUp('slow','swing').addClass('show');
            }
            $('#educ').addClass('active');
            $('#Education.collapse').addClass('show');
            $('#school').addClass('active');
        })