extends ../../../templates/masterpanel

block content
    .content
        .row
            .col-md-12
                .card
                    .card-header
                        h4.card-title  List of Scholarship Requirements &nbsp;
                            button.btn.btn-fab.btn-icon.btn-round(data-toggle="modal" data-target="#addModal")
                                i.fa.fa-plus
                    |               
                    .card-body
                        .table-responsive
                            table#example.table.table-striped.table-bordered
                                // Classic Modal
                                #addModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalLabel", aria-hidden="true")
                                    .modal-dialog
                                        .modal-content
                                            .modal-header.justify-content-center
                                                button.close(type="button", data-dismiss="modal", aria-label="Close")
                                                    i.nc-icon.nc-simple-remove
                                                |                             
                                                h4.title.title-up Add requirement                          
                                            form#add(method='POST', action=`/maintenance/scholarship/${scholarship}/requirement`, style="display: none;")
                                                .modal-body
                                                    .form-group
                                                        h6.form-text.text-muted(for="Requirement") Requirement
                                                        select#Requirement.form-control(name="Requirement")
                                                            each file in files
                                                                option(value=file.intRequirementId) #{file.strRequirementDesc}
                                                    .form-group
                                                        h6.form-text.text-muted(for="rtype") Requirement Type
                                                        select#rtype.form-control(name="rtype")
                                                            option(value=1) Application 
                                                            option(value=2) Renewal
                                                .modal-footer
                                                    .left-side
                                                        button.btn.btn-default.btn-link(type="reset") Reset
                                                    |                             
                                                    .divider
                                                    |                             
                                                    .right-side
                                                        button#add.btn.btn-link(type="submit") Submit
                                // End Modal
                                thead
                                    tr
                                        th Requirement 
                                        th Requirement Type
                                        th Status                   
                                        th.text-right
                                            | Actions
                                |                     
                                tbody
                                    each req in reqs
                                        tr
                                            td #{req.strRequirementDesc}
                                            td #{req.enumReqtype}
                                            td.text-center 
                                                if req.isActive == 0
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" data-off="Inactive" value=req.intSRId)
                                                else
                                                    input(type="checkbox" class="clam" data-toggle="toggle" data-on="Active" checked data-off="Inactive" value=req.intSRId)
                                            td.text-right                      
                                                button#delete.btn.btn-danger.btn-icon.btn-round.btn-sm(data-id=req, title="Delete")
                                                    i.fa.fa-trash
                            
    footer.footer.footer-black.footer-white
        .container-fluid
            .row            
                .credits.ml-auto
                    span.copyright
                        | © &nbsp;
                        script.
                            document.write(new Date().getFullYear())
                        | , made with 
                        i.fa.fa-heart.heart
                        |  by Scholarship Management Team


    script.
        $(document).ready(function() {
                $('#example').DataTable({
                    responsive:true
                });
            });

        $('.clam').change(function(){
            if($(this).is(':checked')){
                console.log("true");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tblscholarshipreq',state:1,column:'intSRId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                })
            }
            else{
                console.log("false");
                var student = $(this).val();
                $.ajax({
                    url:'/maintenance/query/active',
                    type: 'POST',
                    data: {table:'tblscholarshipreq',state:0,column:'intSRId',Id:student},
                    dataType: 'json',
                        success: function(res){
                            console.log(res);
                        }
                }) 
            }
        })



        $('form#add').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: window.location.pathname,
                method: 'post',
                data: $('form#add').serialize(),
                success: function(response){
                    console.log(response);
                    if(response == 'success'){
                        swal(
                        'Added!',
                        'A new Requirement is added for this Scholarship.',
                        'success'
                        );
                        location.reload();
                    }
                    else if(response.sqlMessage.includes('strSchReq_UNIQUE')){
                        $.toast({
                            heading: 'ERROR',
                            text:'Existing Scholarship Requirement Record',
                            icon:'error',
                            position: 'top-right',
                            loader: false,
                            stack : 3
                        })
                    }
                }
            })
        })
        $('button#delete').click(function(){
                    var scholarship = $(this).data('id');
                swal({
                    title: 'Are you sure?',
                    text: "This requirement will be remove.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#62698e',
                    cancelButtonColor: '#ef8157',
                    confirmButtonText: 'Yes, remove it!'
                }).then(function() {
                    $.ajax({
                    url: '/maintenance/query/delete',
                    method: 'post',
                    data: {table:'tblscholarshipreq',column:'intSRId',Id:scholarship.intSRId},
                    success: function(response){
                        console.log(response);
                        if(response=='success'){
                            swal(
                            'Removed!',
                            'This barangay has been removed.',
                            'success'
                            ).then(function(){
                                window.location=`/maintenance/scholarship/${scholarship.intSRSTId}/requirement`;
                            })
                        }
                        else if(response.sqlMessage.includes('foreign key')){
                            $.toast({
                                heading: 'ERROR',
                                text:'This Record is Used',
                                icon:'error',
                                position: 'top-right',
                                loader: false,
                                stack : 3
                            })  
                        }
                    }
                })
            })
        })
